﻿<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js" type="text/javascript"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>



<div>
    <h3>You login is @ViewBag.Name</h3>
</div>
<div>
    <a asp-controller="Account" asp-action="LogOut" class="btn btn-primary">log out</a>
    <a asp-controller="Home" asp-action="GetLogin" class="btn btn-primary">Get login name</a>
</div>
<table id="table"></table>

<table data-toggle="table" data-url="home/index" data-ur class="display table table-bordered" id="tasks">
    <thead>
        <tr>
            <th data-field="TaskID">User Id</th>
            <th data-field="TaskName">Task Name</th>
            <th data-field="TaskDeskription">Task Description</th>
        </tr>
    </thead>
</table>

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="form-group" >
        <label for="exampleInputEmail1">Task Name</label>
        <input type="text" class="form-control" id="taskName" placeholder="Enter Task Name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="description" placeholder="Description">
    </div>
    <button class="btn btn-primary" id="addTaskButton">Add Task</button>
</form>



@*<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                method: 'POST',
                url: 'home/index',
                dataType: 'json',
                success: function (mydata) {
                    // console.log("Success");
                    //alert('done');
                    $('#table').bootstrapTable({
                        url: mydata,
                        columns: [{
                            field: 'TaskID',
                            title: 'Item ID'
                        }, {
                            field: 'TaskName',
                            title: 'Task Name'
                        }, {
                            field: 'TaskDeskription',
                            title: 'Task Description'
                        },]
                    });
                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });
        });
    </script>*@

<script>
    $('#addTaskButton').click(function () {
        var value = $("#myForm").serialize();
        $.ajax({
            type: "post",
            url: "testMethod",
            data: value
        });
    });
</script>



