﻿
@model FirstAppApi.Models.LoginViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>

    <input type="submit" value="Login" class="btn btn-success" />
</form>
<div style="margin-top:20px">

    <a class="btn btn-danger" href="/Account/Registration">Registration</a>
</div>
