﻿@model FirstAppApi.Models.UserProfileViewModel
@{
    ViewData["Title"] = "UserProfile";
}

<h1>UserProfile</h1>

<a asp-controller="Account" asp-action="LogOut" class="btn btn-primary">log out</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
